
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="css/style.css">
        </head>
    
     <body>
            <header>
                <div class="navbar">
                    <!--box1-->
                    <div class="nav-logo border">
                        <div class="logo">
                            <div class="khojbazaarlogo"></div>
                        </div>
                    </div>
                    <!--box2-->
                    <div class="nav-address border">
                        <p class="add-first">Deliver to</p>
                        <div class="add-icon">
                            <i class="fa-sharp fa-solid fa-location-dot"></i>
                            <p class="add-sec">India</p>
                        </div>
                    </div>
                    <!--box3-->
                    <div class="nav-search">
                        <select class="search-select">
                            <option>All</option>
                        </select>
                        <input placeholder="Search Khoj Bazaar.in"class="search-input">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                        <!--box4-->
                        <div class="indian border">
                            <div class="indian-flag"></div>   
                                <div class="nav-en">EN</div>
                                <i class="fa-solid fa-caret-down caret-down"></i>
                        </div>
                        <!--box5-->
                        <button class="accountBtn hoverBtn">Account & Lists
                            <i class="fa-solid fa-caret-down caret-down"></i>
                            <div class="hoverLogin"> 
                                <div class="triangle-up"></div>
                                <div class="log">
                                    <p>New Customer ?</p> 
                                    <a href="/login">Login</a>
                                </div>
                                <div class="loginManu">
                                    <div class="manuList">
                                        <i class="fa-solid fa-circle-user"></i>
                                        <a href="/checkemail">User Profile</a>
                                    </div>
                                    <div class="create-profile">
                                        <i class="fa-solid fa-circle-user"></i>
                                        <a href="/customerdetail">Create Profile</a>
                                    </div>
                                </div>
                            </div>
                        </button>

                        <!--box6-->
                        <div class="nav-returns border">
                            <p><span>Returns</span></p>
                            <p class="nav-second">& Orders</p>
                        </div>

                        <!--box7-->
                         <div class="nav-cart border">
                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                            Cart
                        </div>
                </div>
                 <!-- Hearder two--> 
                <div class="panel-All">
                    <div class="panel">
                         <p class="All_Color"><i class="fa-solid fa-bars"></i> All</p> 
                            <div class="options-container">
                                <p class="panel-option"><a href="/page1">Sell</a></p>
                                <p class="panel-option"><a href="/page7">Sellers</a></p>
                                <p class="panel-option"><a href="/page2">Mobiles</a></p>
                                <p class="panel-option"><a href="/page5">Electronics</a></p>
                                <p class="panel-option"><a href="/page3">New Releases</a></p>
                            </div>
                    </div>
                    <div class="signUp-page"><a href="/login">Login</a></div>
                </div> 
            </header>
            <!-- hero section-->
            
                <div class="hero-section">
                    <div class="hero">
                        <div class="hero-msg">
                            <p>You are on khoj Bazaar.com. You can also shop on khoj bazaar India for millions of products with fast local delivery. <a> Click here to go to khoj bazaar.in</a> </p>
                        </div>
                    </div>
                </div>
            <!-- shop section-->
            <div class="shop-section">
                <div class="box-content">
                    <h3>DELL G-15 laptop</h3>
                    <div class="box1 box">
                        <div class="image1 pictures"></div>
                    </div>
                    <p> <a href="/page1">see more</a></p>
                </div>
                <div class="box-content">
                    <h3>OnePlus</h3>
                    <div class="box2 box">
                        <div class="image2 pictures"></div>
                    </div>
                    <p><a href="/page2">shop now</a></p>
                </div>
                <div class="box-content">
                    <h3>Smart Watch</h3>
                    <div class="box3 box">
                    <div class="image3 pictures"></div>
                    </div>
                    <p><a href="/page3">shop home product</a></p>
                </div>
                <div class="box-content">
                    <h3>Panasonic Lumix G7</h3>
                    <div class="box4 box">
                        <div class="image4 pictures"></div>
                    </div>
                    <p><a href="/page4">see all deals</a></p>
                </div>



                <div class="box-content">
                    <h3>Wireless Mouse  </h3>
                    <div class="box1 box">
                        <div class="image5 pictures"></div>
                    </div>
                    <p> <a href="/page5">see more</a></p>
                </div>
                <div class="box-content">
                    <h3>Mechanical Keyboard</h3>
                    <div class="box2 box">
                        <div class="image6 pictures"></div>
                    </div>
                    <p><a href="/page6">shop now</a></p>
                </div>
                <div class="box-content">
                    <h3>boAt Airdopes 170</h3>
                    <div class="box3 box">
                    <div class="image7 pictures"></div>
                    </div>
                    <p><a href="/page7">shop home product</a></p>
                </div>
                <div class="box-content">
                    <h3>Acer Nitro VG240YS</h3>
                    <div class="box4 box">
                        <div class="image8 pictures"></div>
                    </div>
                    <p><a href="/page8">see all deals</a></p>
                </div>
            </div> 
            <footer>
                <div class="foot-panel1">
                    Back to top
                </div>
                <div class="foot-panel2">
                    <ul>
                        <p> Get to Know Us </p>
                            <a>Careers</a>
                            <a>Blog</a>
                            <a>About Khoj Bazaar</a>
                            <a>Investor Relations</a>
                        <a> Khoj Bazaar Devices</a>
                        <a>Khoj Bazaar Science</a> 
                    </ul>
                    <ul>
                        <p> Connect with Us </p>
                            <a>Facebook</a>
                            <a>Twitter</a>
                            <a>Instagram</a>
                    </ul>
                    <ul>
                        <p> Make Money with Us </p>
                            <a>Sell on Khoj Bazaar</a>
                            <a>Sell under Khoj Bazaar Accelerator</a>
                            <a>Protect and Build Your Brand</a>
                            <a>Fulfilment by Khoj Bazaar</a>
                        <a> Advertise Your Products</a>
                        
                    </ul>
                    <ul>
                        <p> Let Us Help You </p>
                            <a>COVID-19 and Khoj Bazaar</a>
                            <a>Your Account</a>
                            <a>Returns Centre</a>
                            <a>100% Purchase Protection</a>
                        <a>Help</a>
                    </ul>
                </div>
                <div class="foot-panel3">
                    <div class="footerlogo ">
                    <div class="KhojBazaar"> Khoj Bazaar.in</div>
                    </div>
                </div>
                <div class="foot-panel4">
                    <div class="pages">
                        <a> Conditions of Use </a>
                        <a> Privacy Notice </a>
                        <a> Your Ads Privacy choices</a>
                    </div>
                    <div class="copy-right">
                        © 2022-2023, Khoj Bazaar.com, Inc. or its affiliates
                    </div>
                </div>
            </footer>

            <script>
                document.querySelector('.panel').addEventListener('click', function() {
                    var optionsContainer = document.querySelector('.options-container');
                    if (optionsContainer.style.display === 'none' || optionsContainer.style.display === '') {
                        optionsContainer.style.display = 'flex';
                    } else {
                        optionsContainer.style.display = 'none';
                    }
                });
    </script>
    </body>
</html>
