<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/login.css">
  </head>
 <body>
    <div class="container">
        <div class="main-box">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <div class="input-box">
                        <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                        <input type="email" name="email"  required>
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>

                    <div class="chack">
                        <label><input type="checkbox"> Remember me </label>
                        <a href="#"> Forget  Password? </a>
                    </div>

                    <button type="submit" class="btn">Login</button>
                    
                    <div class="register">
                        <p>Don't have an account? <a href="/signUp"> Sign Up</a></p>
                    </div>

                </form>
                <div class="home">
                   <div class="home-Page"><a href="/">Home Page</a></div>
                </div>
            </div>
        </div>
        
    </body>
</html>