<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ninth page</title>
        <link rel="stylesheet" href="css/page8.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p> Acer Nitro VG240YS 23.8 Inch (60.45 Cm) IPS Full HD 1920 X 1080 Pixels, Gaming LCD Monitor with LED Backlight I AMD Freesync I 0.5 MS Response time I 165Hz Refresh Rate I Dp,
                             2 X Hdmi, Black.<br> <a href="/"> Home page </a>

                        </p>
                        <div class="review">
                            <a href="reviewNinth.html"> Review </a>
                         </div>
                        <div>
                            <span class="discount"> -58% </span>
                            <span class="price"> ₹9,999</span>
                        </div>
                        <div class="mrp">
                           <p> M.R.P : <span> ₹ 24,000 </span> </p>
                        </div>
                         
                        <div>
                             <button class="button cart"><a href="cartNinth.html"> Add to Cart </a> </button>
                             <button class="button buy"> <a href="/customerdetail"> Buy Now </a> </button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li>Full HD: The Full HD resolution (1920 x 1080) ensures a sharp and smooth gameplay experience, even at the highest settings.VESA Mount Compatible. Viewing Angle (H/V) 178°(H)/178°(V). Brightness 250 nits (cd/m2) </li>
                <li>165 Hz refresh rate: The incredible 165 Hz refresh rate means that even when the action heats up, your gameplay will be smooth and lag-free, Visual Response Boost for blur free gaming</li>
                <li> Integrated AMD FreeSync Premium technology eliminate screen tearing, while minimizing lag and latency and delivers very smooth gaming experiences.</li>
                <li>Connectivity Options : 2 X HDMI (2.0) 1 X Display (1.2) Ports with Inbox DP Cable I Audio Out I Integrated Stereo Speakers </li>
            </ul>
        </div>
        
    </body>
</html>