<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>first page</title>
        <link rel="stylesheet" href="css/page1.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p> Dell New G15-5515 Gaming Laptop, AMD Ryzen5-5600H, Win 11 + MSO'21, 16Gb Gddr4,
                             512Gb SSD, Nvidia RTX 3050 (4Gb Gddr6), 15.6" (39.62Cms) FHD AG 250 Nits 120Hz,
                              Backlit KB Orange, 2.57Kgs. <br>  <a href="/"> Home page </a>

                        </p>
                        <div class="review">
                            <a href="reviewOne.html"> Review </a>
                         </div>
                        <div>
                            <span class="discount"> -24% </span>
                            <span class="price"> ₹74,490</span>
                        </div>
                        <div class="mrp">
                           <p> M.R.P : <span> ₹ 1,02,522 </span> </p>
                        </div>
                         
                        <div>
                             <button class="button cart"><a href="cartOne.html"> Add to Cart </a></button>
                             <button class="button buy"> <a href="/customerdetail"> Buy Now </a> </button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li> Processor: AMD Ryzen 5 5600H 6-core/12-thread Mobile Processor // RAM & Storage: 16GB, 2x8GB, DDR4, 3200MHz & 512GB M.2 PCIe NVMe Solid State Drive</li>
                <li> Software: Win 11 Home + Office H&S 2021, 15 Months McAfee antivirus subscription</li>
                <li>Graphics: NVIDIA GeForce RTX 3050 4GB GDDR6 (90 W) // Display & Keyboard: 15.6 inch FHD (1920 x 1080) 120Hz 250 nits WVA Anti- Glare LED Backlit Narrow Border Display & Orange Backlit</li>
                <li>Ports: (1) HDMI 2.1, (2) SuperSpeed USB 2.0 Gen 1 Type-A including (1) with PowerShare, (1) SuperSpeed USB 3.2, (1) USB-C Data/Display Port Alt-Mode, Headphone/Mic, (1) RJ45</li>
            </ul>
        </div>
        
    </body>
</html>