<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Second page</title>
        <link rel="stylesheet" href="css/page2.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p> OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 8GB RAM, 128GB Storage),  Camera: 108 MP
                            Display: 6.72 Inches; 120 Hz Adaptive refresh rate; FHD+(1080×2400), Colors: 16.7 Million colors, 391 ppi, 
                            Aspect Ratio: 20:9, Brightness: 550 nits (typical), 680 nits (HBM). <br>  <a href="/"> Home page</a>

                        </p>
                        <div class="review">
                            <a href="reviewTwo.html"> Review </a>
                         </div>
                         <div class="price"> ₹ 19,990</div>

                        <div>
                             <button class="button cart"><a href="cartTwo.html"> Add to Cart </a></button>
                             <button class="button buy">  <a href="/customerdetail"> Buy Now </a> </button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li>Camera: 108 MP Main Camera with EIS; 2MP Depth-Assist Lens and 2MP Macro Lens; Front (Selfie) Camera: 16MP</li>
                <li> Rear Camera Mode: Hi-res 108MP mode, 3x Lossles Zoom, Photo, Video, Nightscape, Expert, Panoramic, Portrait, Macro, Time-lapse, Slow-motion, Long exposure, Dual-view video, Text Scanner, 1080p/720p@30fps, Video zoom: 1080P@30fps, 720P@30fps, Slow motion: 720P@120fps, Time-Lapse: 1080P@30fps, Steady Video EIS support</li>
                <li> Display: 6.72 Inches; 120 Hz Adaptive refresh rate; FHD+(1080×2400), Colors: 16.7 Million colors, 391 ppi, Aspect Ratio: 20:9, Brightness: 550 nits (typical), 680 nits (HBM)</li>
                <li>Operating System: Oxygen OS based on Android 13.1 ,Processor: Qualcomm Snapdragon 695 5G,Battery & Charging: 5000 mAh with 67W SUPERVOOC Endurance Edition</li>
            </ul>
        </div>
        
    </body>
</html>