<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fourth page</title>
        <link rel="stylesheet" href="css/page4.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p> Panasonic LUMIX G7 16.00 MP 4K Mirrorless Interchangeable Lens Camera Kit with 14-42 mm Lens (Black)
                             with 3x Optical Zoom. <br><a href="/"> Home page </a> 

                        </p>
                        <div class="review">
                            <a href="reviewFourth.html"> Review </a>
                         </div>
                        <div>
                            <span class="discount"> -23% </span>
                            <span class="price"> ₹42,489</span>
                        </div>
                        <div class="mrp">
                           <p> M.R.P : <span> ₹ 54,990 </span> </p>
                        </div>
                         
                        <div>
                             <button class="button cart"> <a href="cartFourth.html"> Add to Cart </a> </button>
                             <button class="button buy">  <a href="/customerdetail"> Buy Now </a> </button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li>PROFESSIONAL PHOTO AND VIDEO PERFORMANCE: 16 megapixel Micro Four Thirds sensor with no low pass filter to confidently capture sharp images with a high dynamic range and artifact free performance; WiFi enabled</li>
                <li>4K VIDEO CAPTURE: 4K QHD video recording (3840 x 2160) with three 4K Ultra HD capture at 25p and Full HD ( 1920 * 1080 ) at 50p</li>
                <li>4K PHOTO MODE : 8MP PHOTO BURST MODE at 30 fps, extracts individual high resolution images from 4K Ultra HD video filmed at 30 frames per second to capture split second moments</li>
                <li>INTUITIVE CONTROLS: Easily control aperture and shutter settings with the front and rear dials while making white balance and ISO adjustments on the fly; Assign favorite settings to any of the six function buttons (six on body, five on menu)</li>
            </ul>
        </div>
        
    </body>
</html>