<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seventh page</title>
        <link rel="stylesheet" href="css/page7.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p>boAt Airdopes 170 TWS Earbuds with 50H Playtime, Quad Mics ENx™ Tech, Low Latency Mode, 13mm Drivers, ASAP™ Charge,
                             IPX4, IWP™, Touch Controls & BT v5.3(Classic Black). <br><a href="/"> Home page </a>

                        </p>
                        <div class="review">
                            <a href="reviewSeventh.html"> Review </a>
                         </div>
                        <div>
                            <span class="discount"> -67% </span>
                            <span class="price"> ₹1,499</span>
                        </div>
                        <div class="mrp">
                           <p> M.R.P : <span> ₹ 4,490 </span> </p>
                        </div>
                         
                        <div>
                             <button class="button cart"> <a href="cartSeventh.html"> Add to Cart </a></button>
                             <button class="button buy"> <a href="/customerdetail"> Buy Now </a> </button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li> Playback- It offers a total playtime of up to 50HRS, including up to 9HRS of playtime per earbud. </li>
                <li>Clear Voice Calls- Be heard absolutely clear across voice calls wherever you are with the ENx Tech enabled Airdopes 170, that cancels out unwanted background noise during calls.</li>
                <li>Low Latency- Enjoy a lag less gaming and entertainment experience with BEAST Mode for low latency so that your sessions always stay smooth.</li>
                <li>Drivers- Delve into the boAt immersive auditory experience on Airdopes 170 TWS earbuds courtesy its 13mm audio drivers.</li>
                <li>Bluetooth- The Bluetooth v5.3 wireless technology in the earbuds supports a seamless listening experience every time.</li>
          
            </ul>
        </div>
        
    </body>
</html>