<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Third page</title>
        <link rel="stylesheet" href="css/page3.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p> beatXP Marv Neo 1.85” (4.6 cm) Display, Bluetooth Calling Smart Watch, Smart AI Voice Assistant, 
                            100+ Sports Modes, Heart & SpO2 Monitoring, IP68, Fast Charging (Rose Gold). <br><a href="/"> Home page</a>

                        </p>
                        <div class="review">
                            <a href="reviewThree.html"> Review </a>
                         </div>
                        <div>
                            <span class="discount"> -82% </span>
                            <span class="price"> ₹1,199</span>
                        </div>
                        <div class="mrp">
                           <p> M.R.P : <span> ₹ 6,499 </span> </p>
                        </div>
                         
                        <div>
                             <button class="button cart"><a href="cartThree.html"> Add to Cart </a> </button>
                             <button class="button buy">  <a href="/customerdetail"> Buy Now </a> </button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li> Featuring a radiant 1.85” HD display, Marv Neo shines bright, exuding elegance and brilliance. The watch has 560 nits peak brightness ensuring more detail, and extra clarity. Marv Neo is a fine, classic smart watch, making a bold style statement.</li>
            </ul>
        </div>
        
    </body>
</html>