<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sixth page</title>
        <link rel="stylesheet" href="css/page6.css">
    </head>
    <body>
        <div class ="box">
             <div class="picture"> 
                <div class="picture-box"></div> 
             </div>
    
             <div class="product-details">
                        <p> HP GK320 Wired Full Size RGB Backlight Mechanical Gaming Keyboard, 4 LED Indicators, Mechanical Switches,
                             Double Injection Key Caps, and Windows Lock Key.<br> <a href="/"> Home page </a> 

                        </p>
                        <div class="review">
                            <a href="reviewsixth.html"> Review </a>
                         </div>
                        <div>
                            <span class="discount"> -54% </span>
                            <span class="price"> ₹1,598</span>
                        </div>
                        <div class="mrp">
                           <p> M.R.P : <span> ₹ 3,499</span> </p>
                        </div>
                         
                        <div>
                             <button class="button cart"> <a href="cartsixth.html"> Add to Cart </a></button>
                             <button class="button buy"> <a href="/customerdetail"> Buy Now </a></button>
                        </div>
                        <div class="text-box">
                            <div class="item-1">
                                <div class="name Replacement"></div>  
                                <div class="name Delivery"></div> 
                                <div class="name Pay-on-Delivery"></div>  
                                <div class="name Amazon-Delivered"></div> 
                                <div class="name Warranty"></div>  
                            </div>
                            

                           <div class="item2">
                                <div class="item "> 7 days Replacement</div>
                                <div class="item "> Free Delivery</div>
                                <div class="item "> Pay on Delivery</div>
                                <div class="item "> Amazon Delivered</div>
                                <div class="item "> 1 Year Warranty</div>
                           </div>
                        

                        </div>

             </div>
        </div>




        <div class="about">
            <h3> About this item </h3>
            <ul class="about-ul">
                <li>Convertible dynamic mixing can easily adjust the brightness and switch display modes, and the variety of light eff ects are dazzling and exciting, and your desire to fi ght is stimulated.</li>
                <li> 50 million times ultra-long lifetime mechanical switch, A variety of mechanical buttons let you experience different knocks.</li>
                <li> Matt double Injection Keycaps With a magnetic ring to eliminate interfering signals and transmission error </li>
            </ul>
        </div>
        
    </body>
</html>